*
{
 /*border: 3px solid red;*/
  font-family: 'Marcellus SC' !important;
}

//Credits Background
.credits {
  background-image: linear-gradient(to bottom, #000000,#6a5bcd,#9470db);
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

//randomly allocate stars
@function random-stars ($screen-width, $color, $density){
  $x-shadow: random($screen-width);
  $y-shadow: random($screen-width);

  $stars: '#{$x-shadow}px #{$y-shadow}px #{$color}';

  @for $i from 2 through $density{
      $x-shadow: random($screen-width);
      $y-shadow: random($screen-width);

      $stars: '#{$stars}, #{$x-shadow}px #{$y-shadow}px #{$color}';
  }
  @return unquote($stars);
}

//stars animation
@mixin stars-animation ($screen-width, $color, $density, $speed, $delay, $size){
  width: $size+px;
  height: $size+px;
  border-radius: 0%;
  box-shadow: #fff 50%;
  opacity: 50%;
  box-shadow:  random-stars($screen-width, $color, $density);
  animation-name: stars-twinkling;
  animation-duration: $speed+s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-delay: $delay+s;
}

//applying animation & design for the stars
#stars1{
  @include stars-animation(5000, #ffffff, 600, 2, 0.1, 1);
}

#stars2{
  @include stars-animation(5000, #fff, 300, 4, 0.5, 5);
}

#stars3{
  @include stars-animation(8000, #fff, 1000, 3, 0.1, 2);
}

#stars4{
  @include stars-animation(8000, #fff, 1000, 5, 0.5, 3);
}

@keyframes stars-twinkling {
  0%   {opacity: 0;}
  50%  {opacity: 1;}
  100% {opacity: 0;}
}


//Credits Content

section {
  width:80vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding-block: 10vh;
  flex-grow: 1
}

.projectstellar {
  scale:0.9;
  width:90vw;
  height:170vh;
  h2 {
    font-size: 2rem;
  }
}


.hero-carousel {
  padding-block: 1rem;
}

.carousel {
  background-color:black;
  position:relative;
  box-shadow:
    0 0 15px 1px #f899ff29,
    0 0 28px 10px #c870ff40;
}

.carousel-inner {
  width:60vw;
  height: 70vh;
  display:flex;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-control-prev, .carousel-control-next {
  width:7%;
}


/* Responsive adjustment for smaller screens */

@media (max-width: 1068px) {
  .carousel-inner {
    height: 54vh;
  }
}

@media (max-width: 768px) {
  .carousel-inner {
    height: 50vh;
  }
}

@media (max-width: 576px) {
  .carousel-inner {
    height: 40vh;
  }
}

.member-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.member-container img {
  height:100px;
  width:100px;
  border-radius: 50%;
  background-color: white;
  display:flex;
  justify-self: center;
}

h2 {
  display: flex;
  align-self: center;
  justify-content: center;
  text-align: center;
  line-height: 70px;
  font-size: 2rem;
  margin: 0 !important;
}

.carousel-indicators {
bottom:-4rem;
z-index:100;
button {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-inline:1rem;
  flex-shrink: 0;
}
}

.members {
  display: flex;
  gap:10%;
  font-size:1.5rem !important;
  text-align: center;
  justify-content: center;
  width:75vw;
  padding-block: 10px;
  flex-wrap: wrap;
}


h4 {
  font-size:0.8rem !important;
}

h3 {
  font-size:1.1rem !important;
  line-height: 10px !important;
}

.member-container h4 {
  margin: 6px 0 0 0;
}


/*
@supports ( animation-timeline: view() )
{
  @keyframes wipe {
    to {
      -webkit-mask-position: 100% 0%;
      mask-position: 100% 0%;
    }
  }

  .project {
    animation-fill-mode: both;
    animation-timing-function: steps(24);
  mask-image: url("/assets/credits-page/wipe-mask.png");
  mask-position: 0% 0%;
  image-rendering: pixelated;
  transition-delay: 350ms;
  transition:300ms;
  }


  .zoocadia {
    view-timeline: --trigger block;
    animation: trigger linear forwards;
    animation-timeline: --trigger;
    animation-range: entry 1% contain 4%;
  }



  @container style(--animate: true) {
    section:nth-of-type(1)
    {
        animation: wipe 2s forwards;
    }
  }

  @keyframes trigger {
    to {
      --animate: true;
    }
  }
}
*/
