<!--Stars-->
<div id="stars1"></div>
<div id="stars2"></div>
<div id="stars3"></div>
<div id="stars4"></div>
<!--Credits-->
<div class="credits">

  <h2>CREDITS</h2>

<!--FANSITE PROJ-->
<div class="zoocadia" id="zoocadia">
<section class="project">
<h2>Aster Bday Fan-Website</h2>
<div class="members">
<div class="member-container">
<img src="https://pbs.twimg.com/profile_images/1830105553412243456/3tDfMvOR_400x400.png" alt="">
<h4>PROJECT LEADER SLAYYY NAOO</h4>
<h3>Nao_Fumiko29</h3>
</div>
<div class="member-container">
  <img src="https://pbs.twimg.com/profile_images/1830268069002031104/NuhlG4wl_400x400.png" alt="">
  <h4>ASSISTANT PROJECT LEADER</h4>
  <h3>WeissSaturnia</h3>
  </div>
</div>
<br>
<div class="members">
<div class="member-container">
<img src="https://pbs.twimg.com/profile_images/1833295746730496001/B75k0cyY_400x400.jpg" alt="">
<h4>PROGRAMMER</h4>
<h3>Clovenski</h3>
</div>
<div class="member-container">
  <img src="https://pbs.twimg.com/profile_images/1837825020636311552/jI5oOk3F_400x400.png" alt="">
  <h4>PROGRAMMER</h4>
  <h3>Hoshieet</h3>
  </div>
  <div class="member-container">
    <img src="https://pbs.twimg.com/profile_images/1830081511321976834/H5eFflti_400x400.png" alt="">
    <h4>PROGRAMMER</h4>
    <h3>borkienoucessie</h3>
    </div>
  </div>
    <div class="members">
    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1830092119090040832/DoXPIU6__400x400.jpg" alt="">
      <h4>ARTIST</h4>
      <h3>hi_kessy</h3>
      </div>
      <div class="member-container">
        <img src="https://pbs.twimg.com/profile_images/1814005362057789440/IrsgALj0_400x400.png" alt="">
        <h4>ARTIST</h4>
        <h3>Sonwet_</h3>
        </div>
        <div class="member-container">
          <img src="https://pbs.twimg.com/profile_images/1830105553412243456/3tDfMvOR_400x400.png" alt="">
          <h4>ARTIST</h4>
          <h3>Nao_Fumiko29</h3>
          </div>
          <div class="member-container">
            <img src="https://pbs.twimg.com/profile_images/1830081511321976834/H5eFflti_400x400.png" alt="">
            <h4>ARTIST</h4>
            <h3>borkienoucessie</h3>
            </div>
    </div>
</section>
</div>

<!--JESS PROJ-->
<div class="zoocadia" id="zoocadia"  style="min-height:150vh;">
  <section class="project" style="scale:0.9;">
  <h2>STARS BEYOND THE DOORS</h2>
  <div class="member-container">
  <img src="https://pbs.twimg.com/profile_images/1831962358702600192/HCet6sg9_400x400.png" alt="">
  <h4>PROJECT LEADER</h4>
  <h3>JessFishBluBlu</h3>
  </div>
  <br>
  <div class="members">
  <div class="member-container">
    <img src="https://pbs.twimg.com/profile_images/1830092119090040832/DoXPIU6__400x400.jpg" alt="">
    <h4>ART DIRECTOR</h4>
    <h3>hi_kessy</h3>
    </div>
  <div class="member-container">
  <img src="https://pbs.twimg.com/profile_images/1823176453615124480/IQcaRnoG_400x400.jpg" alt="">
  <h4>SCRIPT WRITER</h4>
  <h3>Diminiejamzzz</h3>
  </div>
  <div class="member-container">
    <img src="https://pbs.twimg.com/profile_images/1830198577102262272/Xp5UpGaO_400x400.png" alt="">
    <h4>SCRIPT WRITER</h4>
    <h3>Kiti_lp</h3>
    </div>
  </div>
  <div class="members">
  <div class="member-container">
    <img src="https://pbs.twimg.com/profile_images/1830419900957114368/qxre9Gl2_400x400.png" alt="">
    <h4>ARTIST</h4>
    <h3>Achinya00</h3>
    </div>
    <div class="member-container">
    <img src="https://pbs.twimg.com/profile_images/1830081511321976834/H5eFflti_400x400.png" alt="">
    <h4>ARTIST</h4>
    <h3>borkienoucessie</h3>
    </div>
  <div class="member-container">
  <img src="https://pbs.twimg.com/profile_images/1830203042416971776/u1JHpl1Z_400x400.png" alt="">
  <h4>ARTIST</h4>
  <h3>Chenn_0808</h3>
  </div>
  <div class="member-container">
  <img src="https://pbs.twimg.com/profile_images/1825298445235548160/GeoO9Rsy_400x400.jpg" alt="">
  <h4>ARTIST</h4>
  <h3>CHUITO_101</h3>
  </div>
  <div class="member-container">
  <img src="https://pbs.twimg.com/profile_images/1823176453615124480/IQcaRnoG_400x400.jpg" alt="">
  <h4>ARTIST</h4>
  <h3>Diminiejamzzz</h3>
  </div>
  </div>
  <div class="members">
  <div class="member-container">
  <img src="https://pbs.twimg.com/profile_images/1806716252679032832/3V3loexh_400x400.jpg" alt="">
  <h4>ARTIST</h4>
  <h3>emi_882</h3>
  </div>
  <div class="member-container">
  <img src="https://pbs.twimg.com/profile_images/1837825020636311552/jI5oOk3F_400x400.png" alt="">
  <h4>ARTIST</h4>
  <h3>hoshieet</h3>
  </div>
  <div class="member-container">
  <img src="https://pbs.twimg.com/profile_images/1831962358702600192/HCet6sg9_400x400.png" alt="">
  <h4>ARTIST</h4>
  <h3>JessFishBluBlu</h3>
  </div>
  <div class="member-container">
  <img src="https://pbs.twimg.com/profile_images/1830092119090040832/DoXPIU6__400x400.jpg" alt="">
  <h4>ARTIST</h4>
  <h3>hi_kessy</h3>
  </div>
  <div class="member-container">
  <img src="https://pbs.twimg.com/profile_images/1830198577102262272/Xp5UpGaO_400x400.png" alt="">
  <h4>ARTIST</h4>
  <h3>Kiti_lp</h3>
  </div>
  </div>
  <div class="members">
  <div class="member-container">
  <img src="https://pbs.twimg.com/profile_images/1757656234159984640/VR_2t75F_400x400.jpg" alt="">
  <h4>ARTIST</h4>
  <h3>navojasmine</h3>
  </div>
  <div class="member-container">
  <img src="https://pbs.twimg.com/profile_images/1830079989632679938/EawS9pWb_400x400.png" alt="">
  <h4>ARTIST</h4>
  <h3>niko_cwips</h3>
  </div>
  <div class="member-container">
  <img src="https://pbs.twimg.com/profile_images/1780345376731504640/AshTmW9N_400x400.jpg" alt="">
  <h4>ARTIST</h4>
  <h3>UUoottUU</h3>
  </div>
  </div>
  </section>
  </div>

<!--RUI PROJ / PROJ STELLAR-->
<div class="zoocadia" id="projectstellar" style="min-height:170vh;">
  <section class="project projectstellar">
    <h2 style="scale:1.0;">PROJECT STELLAR</h2>
  <div class="members">
  <div class="member-container">
    <img src="https://pbs.twimg.com/profile_images/1830422030652755968/w8tEk1RV_400x400.png" alt="">
    <h4>PROJECT LEADER</h4>
    <h3>itsruihere</h3>
    </div>

    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1830081511321976834/H5eFflti_400x400.png" alt="">
      <h4> ARTIST HEAD</h4>
      <h3>borkienoucessie</h3>
      </div>

      <div class="member-container">
        <img src="https://pbs.twimg.com/profile_images/1828310543045926912/b7PEYjfz_400x400.jpg" alt="">
        <h4>VA HEAD</h4>
        <h3>jeeonky</h3>
        </div>
    </div>
  <div class="members">
    <!-- ARTISTS -->
    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1793652858036027392/8ygau41Q_400x400.jpg" alt="">
      <h4>ARTIST</h4>
      <h3>XinYun_Kim</h3>
    </div>
    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1830079989632679938/EawS9pWb_400x400.png" alt="">
      <h4>ARTIST</h4>
      <h3>niko_cwips</h3>
    </div>
    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1773597744516788224/tD47HXWV_400x400.jpg" alt="">
      <h4>ARTIST</h4>
      <h3>riechronicles</h3>
    </div>
    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1830203042416971776/u1JHpl1Z_400x400.png" alt="">
      <h4>ARTIST</h4>
      <h3>Chenn_0808</h3>
    </div>
    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1837825020636311552/jI5oOk3F_400x400.png" alt="">
      <h4>ARTIST</h4>
      <h3>hoshieet</h3>
    </div>
    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1830419900957114368/qxre9Gl2_400x400.png" alt="">
      <h4>ARTIST</h4>
      <h3>Achinya00</h3>
    </div>
    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1838206472230158336/FoaGETVf_400x400.png" alt="">
      <h4>ARTIST</h4>
      <h3>LumaGalaxyStar</h3>
    </div>
  </div>

  <div class="members">
    <!-- WRITERS -->
    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1809749888051052544/FFQI5MGg_400x400.jpg" alt="">
      <h4>WRITER</h4>
      <h3>MikaiahRoll</h3>
    </div>
    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1830422030652755968/w8tEk1RV_400x400.png" alt="">
      <h4>WRITER</h4>
      <h3>itsruihere</h3>
    </div>
    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1777935971868082176/wyqFXgPy_400x400.jpg" alt="">
      <h4>WRITER</h4>
      <h3>Random_Arcadian</h3>
    </div>
    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1629763027351269383/AHc3Xh0g_400x400.jpg" alt="">
      <h4>WRITER</h4>
      <h3>syndrie_</h3>
    </div>
</div>

<div class="members">
    <!-- VOICE ACTORS -->
    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1828409667439206401/S1M7hgB5_400x400.jpg" alt="">
      <h4>VOICE ACTOR</h4>
      <h3>mikami030</h3>
    </div>
    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1816776677411946499/3-vDqCzz_400x400.jpg" alt="">
      <h4>VOICE ACTOR</h4>
      <h3>blooby5imp95</h3>
    </div>
    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1830079989632679938/EawS9pWb_400x400.png" alt="">
      <h4>VOICE ACTOR</h4>
      <h3>niko_cwips</h3>
    </div>
    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1067577794593517568/TRYCQCPL_400x400.jpg" alt="">
      <h4>VOICE ACTOR</h4>
      <h3>Quaschene1</h3>
    </div>
    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1830268069002031104/NuhlG4wl_400x400.png" alt="">
      <h4>VOICE ACTOR</h4>
      <h3>WeissSaturnia</h3>
    </div>
    </div>
    <div class="members">
    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1817952196182388736/ySE43z-S_400x400.jpg" alt="">
      <h4>VOICE ACTOR</h4>
      <h3>tenyaan_</h3>
    </div>
    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1632767850460106752/1WsaFKVC_400x400.jpg" alt="">
      <h4>VOICE ACTOR</h4>
      <h3>ken_k3n_</h3>
    </div>
    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1825298445235548160/GeoO9Rsy_400x400.jpg" alt="">
      <h4>VOICE ACTOR</h4>
      <h3>CHUITO101</h3>
    </div>
    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1811274520755642368/eKch56BR_400x400.jpg" alt="">
      <h4>VOICE ACTOR</h4>
      <h3>CloudieDaiz</h3>
    </div>
    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1824206050888740864/CUtiX0Vw_400x400.jpg" alt="">
      <h4>VOICE ACTOR</h4>
      <h3>OctaviaSpes</h3>
    </div>
    </div>
    <div class="members">
    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1830098433757364225/kwS9AhAj_400x400.png" alt="">
      <h4>VOICE ACTOR</h4>
      <h3>Nhung_The_Sour</h3>
    </div>
    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1795177974637191169/FTNfWJR1_400x400.jpg" alt="">
      <h4>VOICE ACTOR</h4>
      <h3>RikkaTakumi</h3>
    </div>
    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1830114644624883712/GY300Bvo_400x400.png" alt="">
      <h4>VOICE ACTOR</h4>
      <h3>loveakiii_</h3>
    </div>
    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1740251902326300672/Np3dx0gF_400x400.jpg" alt="">
      <h4>VOICE ACTOR</h4>
      <h3>toktak247</h3>
    </div>
    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1775759228264923136/nqgu2aVc_400x400.jpg" alt="">
      <h4>VOICE ACTOR</h4>
      <h3>keuy_pr</h3>
    </div>
    </div>
    <div class="members">
    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1830568177069355008/PiRNqaUX_400x400.png" alt="">
      <h4>VOICE ACTOR</h4>
      <h3>baneneghost</h3>
    </div>
  </div>

  </section>
  </div>

<!--ANIMAL MV PROJ-->
<div class="zoocadia" id="zoocadia">
  <section class="project" style="padding:20vh; justify-content: center;">
  <h2>ANIMAL - DECO*27 FT. ASTER</h2>
  <div class="member-container">
  <img src="https://pbs.twimg.com/profile_images/1835605906706567169/dsF6pz-0_400x400.png" alt="">
  <h4>PROJECT CREATOR</h4>
  <h3>ascanatto</h3>
  </div>
  <br>
  </section>
  </div>

<!--AKIRA PAPE PROJ-->
<div class="zoocadia astapape" id="zoocadia" style="min-height: 200vh;">
  <section class="project">
  <h2>ASTER PAPE JOURNEYS</h2>
  <div class="member-container">
  <img src="https://pbs.twimg.com/profile_images/1830237738013986817/h0D_NDXK_400x400.jpg" alt="">
  <h4>PROJECT LEADER</h4>
  <h3>Akiraxoi</h3>
  </div>
  <br>

  <!-- ARTISTS -->
  <div class="members">

  <div class="member-container">
  <img src="https://pbs.twimg.com/profile_images/1757656234159984640/VR_2t75F_400x400.jpg" alt="">
  <h4>ARTIST</h4>
  <h3>navojasmine</h3>
  </div>

  <div class="member-container">
    <img src="https://pbs.twimg.com/profile_images/1830203042416971776/u1JHpl1Z_400x400.png" alt="">
    <h4>ARTIST</h4>
    <h3>Chenn_0808</h3>
    </div>
    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1830082667049541632/w-gyM4q0_400x400.png" alt="">
      <h4>ARTIST</h4>
      <h3>jjong_102</h3>
      </div>
      <div class="member-container">
        <img src="https://pbs.twimg.com/profile_images/1824206050888740864/CUtiX0Vw_400x400.jpg" alt="">
        <h4>ARTIST</h4>
        <h3>TaviPackRaccoon</h3>
        </div>
      <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1830442900658008064/bRKl7znk_400x400.png" alt="">
       <h4>ARTIST</h4>
      <h3>Hika_lune</h3>
       </div>
  </div>
  <div class="members">

    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1830237738013986817/h0D_NDXK_400x400.jpg" alt="">
      <h4>PROJECT LEADER</h4>
      <h3>Akiraxoi</h3>
    </div>

    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1830305337175621632/7wTmB8v3_400x400.png" alt="">
      <h4>PARTICIPANT</h4>
      <h3>_suzu_owo</h3>
    </div>

    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1833674426308780032/-AXQXR9u_400x400.jpg" alt="">
      <h4>PARTICIPANT</h4>
      <h3>_MYfafame_</h3>
    </div>

    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1830109671782289408/NC5y0rcA_400x400.png" alt="">
      <h4>PARTICIPANT</h4>
      <h3>_sirikarn_k</h3>
    </div>

    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1798038948184526848/Io-6Rmy6_400x400.png" alt="">
      <h4>PARTICIPANT</h4>
      <h3>da1_ib</h3>
    </div>
</div>
<div class="members">
    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1830911613274091522/fRP-dAAd_400x400.png" alt="">
      <h4>PARTICIPANT</h4>
      <h3>espressomyboy</h3>
    </div>

    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1708518711210934272/dwzerIjU_400x400.jpg" alt="">
      <h4>PARTICIPANT</h4>
      <h3>fllngdwnclff</h3>
    </div>

    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1830268598625116162/dP9LxMb__400x400.png" alt="">
      <h4>PARTICIPANT</h4>
      <h3>Florang2611</h3>
    </div>

    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1833350088707723264/t53CCeS6_400x400.png" alt="">
      <h4>PARTICIPANT</h4>
      <h3>flowerpuffguurl</h3>
    </div>

    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1828310543045926912/b7PEYjfz_400x400.jpg" alt="">
      <h4>PARTICIPANT</h4>
      <h3>jeeonky</h3>
    </div>
</div>
<div class="members">
    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1830082667049541632/w-gyM4q0_400x400.png" alt="">
      <h4>PARTICIPANT</h4>
      <h3>jjong_102</h3>
    </div>

    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1830218276586049536/87l1ObmH_400x400.png" alt="">
      <h4>PARTICIPANT</h4>
      <h3>luna_sloth</h3>
    </div>

    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1689209493413126144/5EaRlLA4_400x400.jpg" alt="">
      <h4>PARTICIPANT</h4>
      <h3>mem_cc2</h3>
    </div>

    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1830252547447345152/9y8nsWvr_400x400.png" alt="">
      <h4>PARTICIPANT</h4>
      <h3>PurpleDaisy_94</h3>
    </div>

    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1830258443988717568/m4GsE0vg_400x400.png" alt="">
      <h4>PARTICIPANT</h4>
      <h3>reverieishere</h3>
    </div>

  </div>
  <div class="members">
    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1729584768969273344/yKPtqQn3_400x400.jpg" alt="">
      <h4>PARTICIPANT</h4>
      <h3>stuart03_</h3>
    </div>

    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1824206050888740864/CUtiX0Vw_400x400.jpg" alt="">
      <h4>PARTICIPANT</h4>
      <h3>TaviPackRaccoon</h3>
    </div>

    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1707902220484624385/tDmalMqj_400x400.jpg" alt="">
      <h4>PARTICIPANT</h4>
      <h3>thaowo_</h3>
    </div>

    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1834211000687755266/v3wN7lgF_400x400.jpg" alt="">
      <h4>PARTICIPANT</h4>
      <h3>tsukeikiberry</h3>
    </div>

    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1816286340587339776/Mg_HChHw_400x400.png" alt="">
      <h4>PARTICIPANT</h4>
      <h3>xixeritoxix</h3>
    </div>

  </div>
  <div class="members">
    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1830091634664435712/a9Jr0ZHb_400x400.png" alt="">
      <h4>PARTICIPANT</h4>
      <h3>yj_lin9</h3>
    </div>

    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1830091015497412608/Md2UIUpR_400x400.png" alt="">
      <h4>PARTICIPANT</h4>
      <h3>yoruutt</h3>
    </div>

    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1836257397645725696/RmfnCDpa_400x400.png" alt="">
      <h4>PARTICIPANT</h4>
      <h3>BucPrin</h3>
    </div>

    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1831962358702600192/HCet6sg9_400x400.png" alt="">
      <h4>PARTICIPANT</h4>
      <h3>JessFishBluBlu</h3>
    </div>
    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1757656234159984640/VR_2t75F_400x400.jpg" alt="">
      <h4>PARTICIPANT</h4>
      <h3>navojasmine</h3>
      </div>
  </div>
  <div class="members">
  <div class="member-container">
    <img src="https://pbs.twimg.com/profile_images/1629763027351269383/AHc3Xh0g_400x400.jpg" alt="">
    <h4>PARTICIPANT</h4>
    <h3>syndrie_</h3>
  </div>
  <div class="member-container">
    <img src="https://pbs.twimg.com/profile_images/1830237738013986817/h0D_NDXK_400x400.jpg" alt="">
    <h4>PARTICIPANT</h4>
    <h3>Akiraxoi</h3>
    </div>
    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1830079989632679938/EawS9pWb_400x400.png" alt="">
      <h4>PARTICIPANT</h4>
      <h3>niko_cwips</h3>
      </div>
  </div>
  </section>
  </div>


<!--SYNDRIE PROJ-->
<div class="zoocadia" id="zoocadia">
  <section class="project">
  <h2>CELESTIAL SHOWCASE</h2>
  <div class="member-container">
  <img src="https://pbs.twimg.com/profile_images/1836538250355146752/54cYQ-rK_400x400.jpg" alt="">
  <h4>PROJECT LEADER</h4>
  <h3>syndrie_clips</h3>
  </div>
  <br>
  <div class="members">
  <div class="member-container">
  <img src="https://pbs.twimg.com/profile_images/1830079989632679938/EawS9pWb_400x400.png" alt="">
  <h4>MEMBER</h4>
  <h3>niko_cwips</h3>
  </div>
  <div class="member-container">
    <img src="https://pbs.twimg.com/profile_images/1830509667430141952/QgXP4mLL_400x400.png" alt="">
    <h4>MEMBER</h4>
    <h3>WokkisDraw</h3>
    </div>
    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1811274520755642368/eKch56BR_400x400.jpg" alt="">
      <h4>MEMBER</h4>
      <h3>cloudiedaiz</h3>
      </div>
      <div class="member-container">
        <img src="https://pbs.twimg.com/profile_images/1830268069002031104/NuhlG4wl_400x400.png" alt="">
        <h4>MEMBER</h4>
        <h3>WeissSaturnia</h3>
        </div>
    <div class="member-container">
        <img src="https://pbs.twimg.com/profile_images/1824206050888740864/CUtiX0Vw_400x400.jpg" alt="">
        <h4>MEMBER</h4>
        <h3>TaviPackRaccoon</h3>
        </div>
        </div>
        <div class="members">
    <div class="member-container">
        <img src="https://pbs.twimg.com/profile_images/1832937663491432449/dRmCGq6M_400x400.jpg" alt="">
        <h4>MEMBER</h4>
        <h3>Lorcan_VT</h3>
        </div>
    <div class="member-container">
        <img src="https://pbs.twimg.com/profile_images/1830417826420518912/44nHHaKr_400x400.png" alt="">
        <h4>MEMBER</h4>
        <h3>Sereaii_Dreamz</h3>
        </div>
    <div class="member-container">
        <img src="https://pbs.twimg.com/profile_images/1828409667439206401/S1M7hgB5_400x400.jpg" alt="">
        <h4>MEMBER</h4>
        <h3>mikami030</h3>
        </div>
  </div>
  </section>
  </div>


<!--AILUROMOON/MILAN PROJ-->
<div class="zoocadia" id="zoocadia">
  <section class="project">
  <h2>LOCKED IN</h2>
  <div class="member-container">
  <img src="https://pbs.twimg.com/profile_images/1830251700298670080/k8yQDe6x_400x400.png" alt="">
  <h4>PROJECT CREATOR</h4>
  <h3>ailuromoon</h3>
  </div>
  <br>
  <div class="members">
  <div class="member-container">
  <img src="https://pbs.twimg.com/profile_images/1552768582836174849/C2-JtXKK_400x400.jpg" alt="">
  <h4>THUMBNAIL ARTIST</h4>
  <h3>eto_ryp</h3>
  </div>
  </div>
  </section>
  </div>

<!--CUSTOM CURSORS PROJ-->
<div class="zoocadia" id="zoocadia">
  <section class="project">
  <h2>CUSTOM ASTER ARCADIA CURSORS</h2>
  <div class="member-container">
  <img src="https://pbs.twimg.com/profile_images/1830253905613086720/I66uj-xI_400x400.png" alt="">
  <h4>PROJECT CREATOR</h4>
  <h3>StrwBrry_Lynn</h3>
  </div>
  </section>
</div>

</div>
