<!--Stars-->
<div id="stars1"></div>
<div id="stars2"></div>
<div id="stars3"></div>
<div id="stars4"></div>

<!--Credits-->
<div class="credits">
<section class="hero-carousel">

  <h2>CREDITS</h2>
<div id="carouselProject" class="carousel slide">

  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href="credits/#zoocadia"><img src="https://p16-va.lemon8cdn.com/tos-maliva-v-ac5634-us/oYAZIVQftmi2CJBtCABUEfiKA66lQD7E6trAI1~tplv-tej9nj120t-origin.webp" class="d-block w-100" alt="...">
      </a> </div>
    <div class="carousel-item">
      <img src="https://p16-va.lemon8cdn.com/tos-maliva-v-ac5634-us/oYAZIVQftmi2CJBtCABUEfiKA66lQD7E6trAI1~tplv-tej9nj120t-origin.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://p16-va.lemon8cdn.com/tos-maliva-v-ac5634-us/oYAZIVQftmi2CJBtCABUEfiKA66lQD7E6trAI1~tplv-tej9nj120t-origin.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://p16-va.lemon8cdn.com/tos-maliva-v-ac5634-us/oYAZIVQftmi2CJBtCABUEfiKA66lQD7E6trAI1~tplv-tej9nj120t-origin.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://p16-va.lemon8cdn.com/tos-maliva-v-ac5634-us/oYAZIVQftmi2CJBtCABUEfiKA66lQD7E6trAI1~tplv-tej9nj120t-origin.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://p16-va.lemon8cdn.com/tos-maliva-v-ac5634-us/oYAZIVQftmi2CJBtCABUEfiKA66lQD7E6trAI1~tplv-tej9nj120t-origin.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://p16-va.lemon8cdn.com/tos-maliva-v-ac5634-us/oYAZIVQftmi2CJBtCABUEfiKA66lQD7E6trAI1~tplv-tej9nj120t-origin.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://p16-va.lemon8cdn.com/tos-maliva-v-ac5634-us/oYAZIVQftmi2CJBtCABUEfiKA66lQD7E6trAI1~tplv-tej9nj120t-origin.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://p16-va.lemon8cdn.com/tos-maliva-v-ac5634-us/oYAZIVQftmi2CJBtCABUEfiKA66lQD7E6trAI1~tplv-tej9nj120t-origin.webp" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselProject" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselProject" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselProject" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselProject" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselProject" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselProject" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselProject" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselProject" data-bs-slide-to="5" aria-label="Slide 6"></button>
    <button type="button" data-bs-target="#carouselProject" data-bs-slide-to="6" aria-label="Slide 7"></button>
    <button type="button" data-bs-target="#carouselProject" data-bs-slide-to="7" aria-label="Slide 8"></button>
    <button type="button" data-bs-target="#carouselProject" data-bs-slide-to="8" aria-label="Slide 9"></button>

  </div>
</div>
</section>

<!--FANSITE PROJ-->
<div class="zoocadia" id="zoocadia">
<section class="project">
<h2>Aster Bday Fan-Website</h2>
<div class="members">
<div class="member-container">
<img src="https://pbs.twimg.com/profile_images/1830105553412243456/3tDfMvOR_400x400.png" alt="">
<h4>PROJECT LEADER</h4>
<h3>Nao_Fumiko29</h3>
</div>
<div class="member-container">
  <img src="https://pbs.twimg.com/profile_images/1830268069002031104/NuhlG4wl_400x400.png" alt="">
  <h4>ASSISTANT PROJECT LEADER</h4>
  <h3>WeissSaturnia</h3>
  </div>
</div>
<br>
<div class="members">
<div class="member-container">
<img src="https://pbs.twimg.com/profile_images/1833295746730496001/B75k0cyY_400x400.jpg" alt="">
<h4>PROGRAMMER</h4>
<h3>Clovenski</h3>
</div>
<div class="member-container">
  <img src="https://pbs.twimg.com/profile_images/1837825020636311552/jI5oOk3F_400x400.png" alt="">
  <h4>PROGRAMMER</h4>
  <h3>Hoshieet</h3>
  </div>
  <div class="member-container">
    <img src="https://pbs.twimg.com/profile_images/1830081511321976834/H5eFflti_400x400.png" alt="">
    <h4>PROGRAMMER</h4>
    <h3>borkienoucessie</h3>
    </div>
  </div>
    <div class="members">
    <div class="member-container">
      <img src="https://pbs.twimg.com/profile_images/1830092119090040832/DoXPIU6__400x400.jpg" alt="">
      <h4>ARTIST</h4>
      <h3>hi_kessy</h3>
      </div>
      <div class="member-container">
        <img src="https://pbs.twimg.com/profile_images/1814005362057789440/IrsgALj0_400x400.png" alt="">
        <h4>ARTIST</h4>
        <h3>Sonwet_</h3>
        </div>
    </div>
</section>
</div>

<!--JESS PROJ-->
<div class="zoocadia" id="zoocadia">
  <section class="project" style="height:150vh;">
  <h2>STARS BEYOND THE DOORS</h2>
  <div class="member-container">
  <img src="" alt="">
  <h4>PROJECT LEADER</h4>
  <h3>JessFishBluBlu</h3>
  </div>
  <br>
  <div class="members">
  <div class="member-container">
  <img src="" alt="">
  <h4>ART DIRECTOR</h4>
  <h3>hi_kessy</h3>
  </div>
  <div class="member-container">
    <img src="" alt="">
    <h4>ART DIRECTOR</h4>
    <h3>hi_kessy</h3>
    </div>
  <div class="member-container">
  <img src="" alt="">
  <h4>SCRIPT WRITER</h4>
  <h3>Diminiejamzzz</h3>
  </div>
  <div class="member-container">
    <img src="" alt="">
    <h4>SCRIPT WRITER</h4>
    <h3>Kiti_lp</h3>
    </div>
  </div>
  <div class="members">
  <div class="member-container">
    <img src="" alt="">
    <h4>ARTIST</h4>
    <h3>Achinya00</h3>
    </div>
    <div class="member-container">
    <img src="" alt="">
    <h4>ARTIST</h4>
    <h3>borkienoucessie</h3>
    </div>
  <div class="member-container">
  <img src="" alt="">
  <h4>ARTIST</h4>
  <h3>Chenn_0808</h3>
  </div>
  <div class="member-container">
  <img src="" alt="">
  <h4>ARTIST</h4>
  <h3>CHUITO_101</h3>
  </div>
  <div class="member-container">
  <img src="" alt="">
  <h4>ARTIST</h4>
  <h3>Diminiejamzzz</h3>
  </div>
  </div>
  <div class="members">
  <div class="member-container">
  <img src="" alt="">
  <h4>ARTIST</h4>
  <h3>emi_882</h3>
  </div>
  <div class="member-container">
  <img src="" alt="">
  <h4>ARTIST</h4>
  <h3>hoshieet</h3>
  </div>
  <div class="member-container">
  <img src="" alt="">
  <h4>ARTIST</h4>
  <h3>JessFishBluBlu</h3>
  </div>
  <div class="member-container">
  <img src="" alt="">
  <h4>ARTIST</h4>
  <h3>hi_kessy</h3>
  </div>
  <div class="member-container">
  <img src="" alt="">
  <h4>ARTIST</h4>
  <h3>Kiti_lp</h3>
  </div>
  </div>
  <div class="members">
  <div class="member-container">
  <img src="" alt="">
  <h4>ARTIST</h4>
  <h3>navojasmine</h3>
  </div>
  <div class="member-container">
  <img src="" alt="">
  <h4>ARTIST</h4>
  <h3>niko_cwips</h3>
  </div>
  <div class="member-container">
  <img src="" alt="">
  <h4>ARTIST</h4>
  <h3>UUoottUU</h3>
  </div>
  </div>
  </section>
  </div>

<!--RUI PROJ / PROJ STELLAR-->
<div class="zoocadia" id="zoocadia">
  <section class="project">
  <h2>PROJECT STELLAR</h2>
  <div class="member-container">
  <img src="" alt="">
  <h4>PROJECT LEADER</h4>
  <h3>Aidacra Retsa</h3>
  </div>
  <br>
  <div class="members">
  <div class="member-container">
  <img src="" alt="">
  <h4>MEMBER</h4>
  <h3>Aidacra Retsa</h3>
  </div>
  <div class="member-container">
    <img src="" alt="">
    <h4>MEMBER</h4>
    <h3>Aidacra Retsa</h3>
    </div>
    <div class="member-container">
      <img src="" alt="">
      <h4>MEMBER</h4>
      <h3>Aidacra Retsa</h3>
      </div>
      <div class="member-container">
        <img src="" alt="">
        <h4>MEMBER</h4>
        <h3>Aidacra Retsa</h3>
        </div>
  </div>
  </section>
  </div>

<!--ANIMAL MV PROJ-->
<div class="zoocadia" id="zoocadia">
  <section class="project">
  <h2>ANIMAL - DECO*27 FT. ASTER</h2>
  <div class="member-container">
  <img src="" alt="">
  <h4>PROJECT LEADER</h4>
  <h3>Aidacra Retsa</h3>
  </div>
  <br>
  <div class="members">
  <div class="member-container">
  <img src="" alt="">
  <h4>MEMBER</h4>
  <h3>Aidacra Retsa</h3>
  </div>
  <div class="member-container">
    <img src="" alt="">
    <h4>MEMBER</h4>
    <h3>Aidacra Retsa</h3>
    </div>
    <div class="member-container">
      <img src="" alt="">
      <h4>MEMBER</h4>
      <h3>Aidacra Retsa</h3>
      </div>
      <div class="member-container">
        <img src="" alt="">
        <h4>MEMBER</h4>
        <h3>Aidacra Retsa</h3>
        </div>
  </div>
  </section>
  </div>

<!--AKIRA PAPE PROJ-->
<div class="zoocadia" id="zoocadia">
  <section class="project">
  <h2>ASTER PAPE JOURNEYS</h2>
  <div class="member-container">
  <img src="" alt="">
  <h4>PROJECT LEADER</h4>
  <h3>Aidacra Retsa</h3>
  </div>
  <br>
  <div class="members">
  <div class="member-container">
  <img src="" alt="">
  <h4>MEMBER</h4>
  <h3>Aidacra Retsa</h3>
  </div>
  <div class="member-container">
    <img src="" alt="">
    <h4>MEMBER</h4>
    <h3>Aidacra Retsa</h3>
    </div>
    <div class="member-container">
      <img src="" alt="">
      <h4>MEMBER</h4>
      <h3>Aidacra Retsa</h3>
      </div>
      <div class="member-container">
        <img src="" alt="">
        <h4>MEMBER</h4>
        <h3>Aidacra Retsa</h3>
        </div>
  </div>
  </section>
  </div>

<!--CUSTOM CURSORS PROJ-->
<div class="zoocadia" id="zoocadia">
  <section class="project">
  <h2>CUSTOMER ASTER ARCADIA CURSORS</h2>
  <div class="member-container">
  <img src="" alt="">
  <h4>PROJECT LEADER</h4>
  <h3>Aidacra Retsa</h3>
  </div>
  <br>
  <div class="members">
  <div class="member-container">
  <img src="" alt="">
  <h4>MEMBER</h4>
  <h3>Aidacra Retsa</h3>
  </div>
  <div class="member-container">
    <img src="" alt="">
    <h4>MEMBER</h4>
    <h3>Aidacra Retsa</h3>
    </div>
    <div class="member-container">
      <img src="" alt="">
      <h4>MEMBER</h4>
      <h3>Aidacra Retsa</h3>
      </div>
      <div class="member-container">
        <img src="" alt="">
        <h4>MEMBER</h4>
        <h3>Aidacra Retsa</h3>
        </div>
  </div>
  </section>
  </div>

<!--SYNDRIE PROJ-->
<div class="zoocadia" id="zoocadia">
  <section class="project">
  <h2>CELESTIAL SHOWCASE: ASTER ARCADIA</h2>
  <div class="member-container">
  <img src="" alt="">
  <h4>PROJECT LEADER</h4>
  <h3>Aidacra Retsa</h3>
  </div>
  <br>
  <div class="members">
  <div class="member-container">
  <img src="" alt="">
  <h4>MEMBER</h4>
  <h3>Aidacra Retsa</h3>
  </div>
  <div class="member-container">
    <img src="" alt="">
    <h4>MEMBER</h4>
    <h3>Aidacra Retsa</h3>
    </div>
    <div class="member-container">
      <img src="" alt="">
      <h4>MEMBER</h4>
      <h3>Aidacra Retsa</h3>
      </div>
      <div class="member-container">
        <img src="" alt="">
        <h4>MEMBER</h4>
        <h3>Aidacra Retsa</h3>
        </div>
  </div>
  </section>
  </div>

<!--AILUROMOON/MILAN PROJ-->
<div class="zoocadia" id="zoocadia">
  <section class="project">
  <h2>LOCKED IN!</h2>
  <div class="member-container">
  <img src="" alt="">
  <h4>PROJECT LEADER</h4>
  <h3>Aidacra Retsa</h3>
  </div>
  <br>
  <div class="members">
  <div class="member-container">
  <img src="" alt="">
  <h4>MEMBER</h4>
  <h3>Aidacra Retsa</h3>
  </div>
  <div class="member-container">
    <img src="" alt="">
    <h4>MEMBER</h4>
    <h3>Aidacra Retsa</h3>
    </div>
    <div class="member-container">
      <img src="" alt="">
      <h4>MEMBER</h4>
      <h3>Aidacra Retsa</h3>
      </div>
      <div class="member-container">
        <img src="" alt="">
        <h4>MEMBER</h4>
        <h3>Aidacra Retsa</h3>
        </div>
  </div>
  </section>
  </div>

<!--GAME PROJ-->
<div class="zoocadia" id="zoocadia">
  <section class="project">
  <h2>LUCIDAE</h2>
  <div class="member-container">
  <img src="" alt="">
  <h4>PROJECT LEADER</h4>
  <h3>Aidacra Retsa</h3>
  </div>
  <br>
  <div class="members">
  <div class="member-container">
  <img src="" alt="">
  <h4>MEMBER</h4>
  <h3>Aidacra Retsa</h3>
  </div>
  <div class="member-container">
    <img src="" alt="">
    <h4>MEMBER</h4>
    <h3>Aidacra Retsa</h3>
    </div>
    <div class="member-container">
      <img src="" alt="">
      <h4>MEMBER</h4>
      <h3>Aidacra Retsa</h3>
      </div>
      <div class="member-container">
        <img src="" alt="">
        <h4>MEMBER</h4>
        <h3>Aidacra Retsa</h3>
        </div>
  </div>
  </section>
  </div>
