<div class="container" [ngStyle]="{'background-color': data.backgroundColor ? data.backgroundColor : 'rgb(92, 61, 111)'}">
    <button mat-icon-button class="close-btn" matTooltip="Close" matDialogClose>
        <img class="close-btn-icon" [src]="data.useWhiteCloseBtn ? '/assets/shared/close_btn_white.png' : '/assets/shared/close_btn_black.png'" />
    </button>

    <span class="title">{{ data.title }}</span>
    <p class="description">{{ data.description }}</p>

    <iframe class="video" [src]="videoSrc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
