.container {
    display: flex;
    flex-direction: column;
}

@media (max-width:600px) {
    .content-header.dynamic-1 {
        padding: 0.25em 0.5em;
    }
}

.content-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 0.5em;
}

.home-button {
    text-decoration: none;
    font-size: larger;
}

.main-content {
    margin-left: 0.9em;
    margin-right: 0.5em;
    padding-right: 0.5em;
    display: flex;
    flex-direction: column;
}

.mat-mdc-button {
    font-family: unset;
}
