<video [muted]="true" autoplay playsinline loop class="bg-video dynamic-1">
    <source src="/assets/fan-letters-page/bg.mov" type="video/mp4">
</video>

<div class="stars-section">
    <img *ngFor="let msg of messages; let idx = index" [src]="isClicked(msg) ? '/assets/fan-letters-page/glowing_star_purple.gif' : '/assets/fan-letters-page/glowing_star_yellow.gif'"
        class="star" [ngStyle]="getStyle(idx, msg.style)"
        matTooltip="{{ msg.username }}" (click)="showFanMessagePopup(msg.imgPath, msg.fanMessage, msg.username)"
    />
</div>
