.bg-video {
  object-fit: cover;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index:-1;
  background-color: rgb(55, 47, 108);
}

@media (max-width:1900px) { // to maintain smaller bg for small screens
  .bg-video.dynamic-1 {
    max-height: 110%;
  }
}

.stars-section {
  position: absolute;
  left: 0;
  width: 60vw;
  height: 80vh;

  $star-width: 35px;

  .star {
    --size-factor: 2;
    width: $star-width;
    z-index: 1;
    position: absolute;
    transform: scale(var(--size-factor));
    transition: 100ms ease;
  }

  .star:hover {
    transform: scale(3.2);
    cursor: pointer;
  }

  .glow {
    width: $star-width;
    z-index: 0;
    position: absolute;
    animation: pulse 2s linear infinite;
  }
}

@keyframes pulse {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.3);
  }
  100%{
    transform: scale(1);
  }
}
