<video [muted]="true" autoplay playsinline loop class="bg-video dynamic-1">
    <source src="/assets/fan-letters-page/bg.mov" type="video/mp4">
</video>

<div class="stars-section">
    <img *ngFor="let msg of messages" src="/assets/fan-letters-page/star.png" class="star" [ngStyle]="msg.style"
        matTooltip="{{ msg.username }}" (click)="showFanMessagePopup(msg.imgPath, msg.fanMessage, msg.username)"
    />
    <img *ngFor="let msg of messages" src="/assets/fan-letters-page/glow.png" class="glow" [ngStyle]="msg.style" />
</div>
