<div class="container" *ngIf="isPageLocked">
    <img src="/assets/projects-pwd-page/bg.png" class="prompt-bg"/>
    <div class="prompt-container">
        <span class="pwd-header">ENTER PASSWORD</span>
        <input class="pwd-input" (keydown)="onPwdPromptKeydown($event)" [(ngModel)]="passwordValue" />

        <div class="pwd-error-msg-container">
            <span class="pwd-error-msg" *ngIf="errorMsg">{{ errorMsg }}</span>
        </div>
    </div>
</div>

<div class="container" *ngIf="!isPageLocked">
    <!-- TODO: move these to clickable stars that lay on top of constellation background -->
    <button mat-button (click)="openProject('Jess')">Jess project</button>
    <button mat-button (click)="openProject('Niko')">Niko project</button>
    <button mat-button (click)="openProject('Syndrie')">Syndrie project</button>
    <button mat-button (click)="openProject('Akira')">Akira project</button>
    <button mat-button (click)="openProject('Milan')">Milan project</button>
    <button mat-button (click)="openProject('Hoshee')">Hoshee project</button>
    <button mat-button (click)="openProject('Rui')">Rui project</button>
    <button mat-button (click)="openProject('Ascana')">Ascana project</button>
    <button mat-button (click)="openProject('Lyn')">Lyn project</button>
</div>
