@use '@angular/material' as mat;
@use '/src/styles.scss';

//randomly allocate stars
@function random-stars ($screen-width, $color, $density){
    $x-shadow: random($screen-width);
    $y-shadow: random($screen-width);
  
    $stars: '#{$x-shadow}px #{$y-shadow}px #{$color}';
  
    @for $i from 2 through $density{
        $x-shadow: random($screen-width);
        $y-shadow: random($screen-width);
  
        $stars: '#{$stars}, #{$x-shadow}px #{$y-shadow}px #{$color}';
    }
    @return unquote($stars);
  }
  
  //stars animation
  @mixin stars-animation ($screen-width, $color, $density, $speed, $delay, $size){
    width: $size+px;
    height: $size+px;
    border-radius: 0%;
    box-shadow: #fff 50%;
    opacity: 50%;
    box-shadow:  random-stars($screen-width, $color, $density);
    animation-name: stars-twinkling;
    animation-duration: $speed+s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-delay: $delay+s;
  }
  
  //applying animation & design for the stars
#stars1{
    @include stars-animation(5000, #ffffff, 2000, 2, 0.1, 1);
  }
  
  #stars2{
    @include stars-animation(5000, #fff, 500, 4, 0.5, 5);
  }
  
  #stars3{
    @include stars-animation(8000, #fff, 1500, 3, 0.1, 2);
  }
  
  #stars4{
    @include stars-animation(8000, #fff, 1200, 5, 0.5, 3);
  }
  
  @keyframes stars-twinkling {
    0%   {opacity: 0;}
    50%  {opacity: 1;}
    100% {opacity: 0;}
  }

.container {
    height: 100%;
    width: 100%;

    background-image: linear-gradient(to bottom, #000000,#6a5bcd,#9470db);
    background-size: cover;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;

    padding: 50px 10%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .prompt-bg {
        z-index: -1;
    }

    .prompt-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        position: relative;
        top: -282px;

        .pwd-header {
            font-size: x-large;
            align-self: center;
            margin-bottom: 20px;
            color: mat.get-theme-color(styles.$app-theme, primary, 40);
        }

        .pwd-input {
            resize: none;
            width: 840px;
            font-size: xx-large;
            align-self: center;
            height: 63px;
        }

        .pwd-error-msg-container {
            display: flex;
            justify-content: center;
            height: 1em;

            .pwd-error-msg {
                color: mat.get-theme-color(styles.$app-theme, error, 50);
            }
        }
    }
}
