<mat-drawer-container class="app-container mat-app-background" [hasBackdrop]="true">
    <mat-drawer #drawer [mode]="'over'" [autoFocus]="false">
        <app-side-nav (close)="drawer.close()" />
    </mat-drawer>
    <mat-drawer-content>

        <div class="app-scrollbar-container">
            <app-top-nav (sidenavToggle)="drawer.toggle()" *ngIf="showTopNav" />
            
            <div style="flex-direction: row; display: flex; flex: 1;">
                <div class="app-router-container">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>

    </mat-drawer-content>
</mat-drawer-container>
