<div class="container">
    <h1>Center of Celestial Knowledge</h1>

    <img src="/assets/projects-page/project-stellar-top-star.png" style="width: 300px;">

    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

    <a href=""><button mat-raised-button color="primary" disableRipple="true">Click here to learn more</button></a>

    <div class="constellation-map-wrapper">
        <img src="/assets/projects-page/project-stellar-star-1.gif" class="constellation-map-star star-1" (click)="showProject(1)">
        <div class="line line-1"></div>
        <img src="/assets/projects-page/project-stellar-star-1.gif" class="constellation-map-star star-2" (click)="showProject(2)">
        <div class="line line-2"></div>
        <img src="/assets/projects-page/project-stellar-star-1.gif" class="constellation-map-star star-3" (click)="showProject(3)">
        <div class="line line-3"></div>
        <img src="/assets/projects-page/project-stellar-star-1.gif" class="constellation-map-star star-4" (click)="showProject(4)">
    </div>
</div>
