.container {
    background-size: cover;

    text-align: -webkit-center;

    height: 100%;
    width: 100%;

    .message-wrapper {
        margin: 100px;
        height: 500px;
        overflow-y: auto;
    }
}

::ng-deep .mat-mdc-dialog-container {
    --mdc-dialog-container-color: transparent;
    .mdc-dialog__surface {
        box-shadow: none;
    }
}

