.container {
    background-size: cover;

    text-align: -webkit-center;

    height: 100%;
    width: 100%;

    .message-wrapper {
        margin: 100px;
        height: 500px;

        .close-btn {
            color: black;
            position: absolute;
            top: 50px;
            right: 50px;
            transform: scale(1.3);
        }
        
        .username {
            position: sticky;
            top: 0;
            font-size: xx-large;
        }

        @media (max-width:1500px) { // for small screens
            .message.dynamic-1 {
                height: 350px;
            }
        }

        .message {
            height: 400px;
            overflow-y: auto;
        }
    }
}

::ng-deep .mat-mdc-dialog-container {
    --mdc-dialog-container-color: transparent;
    .mdc-dialog__surface {
        box-shadow: none;
    }
}

