.container {
    // background-image: url('/assets/unconfirmed_rights/star.png');
    background-size: cover;

    height: 900px;
    width: 1500px;
    
    .content {
        text-align: -webkit-center;
        padding: 10em 8em;
    }
}

::ng-deep .mat-mdc-dialog-container {
    --mdc-dialog-container-color: transparent;
    .mdc-dialog__surface {
        box-shadow: none;
    }
}
