
<div class="copium" style= "z-index:10; pointer-events: none;">
<div class="bg-image"></div>
<div class="timer" style="position: absolute; height:100vh; width:100%; display: flex; overflow: hidden !important; justify-content: center; margin-bottom: 5vh;
align-items:end;">
<iframe src="https://free.timeanddate.com/countdown/i9k7xcl5/n248/cf12/cm0/cu4/ct0/cs0/ca0/co0/cr0/ss0/cacfff/cpcfff/pct/tcfff/fn3/fs400/szw320/szh135/iso2024-09-26T09:00:00" allowtransparency="true" frameborder="0" width="419" height="108" style=" scale:1.5; margin-bottom: 7vh;"></iframe>
</div>
</div>
<div class="home-content" style="display: none;">
<div class="quick-scroll-bottom-btn">
    <mat-icon class="icon">keyboard_arrow_down</mat-icon>
    <span class="spacer"></span>
    <span style="font-size: x-large;">Scroll down</span>
</div>
<div class="main-content">
    <div class="page-thumbnail-wrapper">
        <div class="page-thumbnail-container">
            <div *ngFor="let thumbnailDetails of pageThumbnailDetails"
                class="page-thumbnail"
                [ngStyle]="{'background-image': 'url(' + thumbnailDetails.thumbnailUrl + ')'}"
                (click)="navigateToPage(thumbnailDetails.navigateToPath)"
            >
                <span class="spacer"></span>
                <div class="title-wrapper">
                    <span class="title">{{ thumbnailDetails.title }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
