@use '/src/styles.scss';

.timer {
  position: absolute;
  height:100vh; width:100%; display:
  flex; overflow: hidden !important;
  justify-content: center;
  margin-bottom: 5vh;
  align-items:end;
}

.timer iframe {
  scale:1.5; margin-bottom: 7vh
}

@media screen and (max-width: 768px) {
  .timer iframe {
    scale: 0.9;
  }
}

@media screen and (max-width: 320px) {
  .timer {
overflow: auto;
 }
  .timer iframe {
    scale: 0.7;
  }
}

.bg-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('/assets/landing-page/background.jpg');
    background-size: cover;
    z-index: 0;
    background-position: top center;
}

.bg-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, transparent 50%, styles.$app-theme-color-bg 100%);
}

.quick-scroll-bottom-btn {
    position: absolute;
    width: 100%;
    top: 95%;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: xx-large;

    .spacer {
        width: 10px;
    }

    .icon {
        transform: scale(2);
    }
}

.main-content {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    z-index: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .page-thumbnail-wrapper {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;


        .page-thumbnail-container {
            position: absolute;
            z-index: 1;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: nowrap;
            width: 80%;
            min-width: 1300px;

            .page-thumbnail {
                width:15vw;
                min-width: 200px;
                aspect-ratio: 1 / 2;
                display: flex;
                flex-direction: column;
                padding: 25px 30px;

                background-size: cover;
                -moz-background-size: 100% 100%;
                -webkit-background-size: 100% 100%;
                background-size: 100% 100%;

                cursor: pointer;

                .spacer {
                    height: 80%;
                }

                .title-wrapper {
                    height: 20%;
                    align-content: center;
                    align-self: center;

                    .title {
                        line-height: 1.1;
                        font-size: xx-large;
                    }
                }
            }

            .page-thumbnail:hover {
                transform: scale(1.02);
            }
        }
    }

}

	/* fallback */
	@supports not (aspect-ratio: 1 / 2) {
    .page-thumbnail {
		padding-top: 100%;
		height: 0;
		position: relative;
  }
	}
