<div class="container" [ngStyle]="{'background-color': data.backgroundColor ? data.backgroundColor : 'rgb(92, 61, 111)'}">
    <button mat-icon-button class="close-btn" matTooltip="Close" matDialogClose><mat-icon>close</mat-icon></button>

    <span class="title">{{ data.title }}</span>

    <img [ngClass]="['thumbnail', data.isSmScreen ? 'sm-screen' : '']" [src]="data.thumbnailAssetUrl" />

    <p class="description">{{ data.description }}</p>

    <a *ngIf="externalLink" class="external-link" [href]="externalLink">See more</a>
</div>
