/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use './app/styles/m3-theme.scss';

$app-theme: m3-theme.$dark-theme;
$app-theme-color-primary: mat.get-theme-color($app-theme, primary);
$app-theme-color-secondary: mat.get-theme-color($app-theme, secondary);
$app-theme-color-tertiary: mat.get-theme-color($app-theme, tertiary);
$app-theme-color-bg: mat.get-theme-color($app-theme, 'background');


html {
    @include mat.all-component-themes($app-theme);

    a:-webkit-any-link {
        color: $app-theme-color-primary;
    }
}

html, body {
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: 'DotDigital';
    src: url('../src/assets/fonts/dot_digital-7.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Krungthep';
    src: url('../src/assets/fonts/Krungthep.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mostera';
    src: url('../src/assets/fonts/Mostera.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Marcellus SC';
  src: url('../src/assets/fonts/MarcellusSC-Regular.ttf') format('truetype');
}


body {
    margin: 0 !important;
    font-family: 'Krungthep' !important;
    position: fixed;
}

::-webkit-scrollbar {
    width: 10px;
    overflow-y: scroll;
    background: lightgray;
    box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
    background: #9470db;
    border-radius: 10px;
}
