/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use './app/styles/m3-theme.scss';

$app-theme: m3-theme.$dark-theme;
$app-theme-color-primary: mat.get-theme-color($app-theme, primary);

html {
    @include mat.all-component-themes($app-theme);

    a:-webkit-any-link {
        color: $app-theme-color-primary;
    }
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0 !important;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    position: fixed;
}
